# Lista 1 - Econometria das Séries Financeiras
Ref: Aula 20/4/2016

Bruno Campos

Pedro Mattos #333791

Renata Polete




Prof: Gustavo Soares

Importando algumas bibliotecas que serão utilizadas:

In [1]:
%matplotlib inline

import datetime
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

from yahoo_finance import Share

## Item: Crie 5 séries de preço ajustado para 5 ativos de diferentes classes de ativo e calcule os log-returns diários, semanais e mensais da série.

Criando a lista de ações e capturando os preços:

In [2]:
stocks = ['BRPR3.SA','ENBR3.SA','BVMF3.SA','PETR4.SA','VALE5.SA']

prices = pd.DataFrame()
for stock in stocks:
    s = Share(stock).get_historical('2000-01-01', '2015-12-31')
    s = pd.DataFrame(s).pivot_table(index = "Date", columns = "Symbol", values = "Adj_Close",aggfunc = "last")
    prices = pd.concat([prices, s],axis=1)

In [3]:
prices.index = pd.to_datetime(prices.index)    
prices = prices["2006-01-01":]
prices = prices.replace(to_replace='NaN',value=np.nan)
prices = prices.fillna(method='ffill')
prices = prices.fillna(method='bfill')
prices = prices.convert_objects(convert_numeric=True)

C:\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.

In [4]:
dailyPrices = prices
dailyPrices.head()

Symbol      BRPR3.SA  ENBR3.SA  BVMF3.SA  PETR4.SA  VALE5.SA
2006-01-02      7.04   3.76599      9.64  14.87216  16.07684
2006-01-03      7.04   3.79368      9.64  15.34070  16.75587
2006-01-04      7.04   3.84906      9.64  15.41488  16.94715
2006-01-05      7.04   3.91829      9.64  15.38365  17.06382
2006-01-06      7.04   4.06921      9.64  15.94980  17.03705

In [5]:
weeklyPrices = prices.resample(rule="W").last()
weeklyPrices.head()

Symbol      BRPR3.SA  ENBR3.SA  BVMF3.SA  PETR4.SA  VALE5.SA
2006-01-08      7.04   4.06921      9.64  15.94980  17.03705
2006-01-15      7.04   4.25751      9.64  16.63308  17.69504
2006-01-22      7.04   4.12597      9.64  17.27732  17.96091
2006-01-29      7.04   4.59674      9.64  17.56625  18.47736
2006-02-05      7.04   4.56903      9.64  17.25389  17.67400

In [6]:
monthlyPrices = prices.resample(rule="M").last()
monthlyPrices.head()

Symbol      BRPR3.SA  ENBR3.SA  BVMF3.SA  PETR4.SA  VALE5.SA
2006-01-31      7.04   4.63686      9.64  18.35105  18.70690
2006-02-28      7.04   4.49979      9.64  17.46083  17.29144
2006-03-31      7.04   4.17996      9.64  16.84392  17.88632
2006-04-30      7.04   4.29211      9.64  18.35867  17.69313
2006-05-31      7.04   3.87675      9.64  17.47310  16.84768

In [9]:
dailyReturns = dailyPrices.pct_change()
dailyReturns.head()

Symbol      BRPR3.SA  ENBR3.SA  BVMF3.SA  PETR4.SA  VALE5.SA
2006-01-02       NaN       NaN       NaN       NaN       NaN
2006-01-03       0.0  0.007353       0.0  0.031505  0.042237
2006-01-04       0.0  0.014598       0.0  0.004836  0.011416
2006-01-05       0.0  0.017986       0.0 -0.002026  0.006884
2006-01-06       0.0  0.038517       0.0  0.036802 -0.001569

In [10]:
weeklyReturns = weeklyPrices.pct_change()
weeklyReturns.head()

Symbol      BRPR3.SA  ENBR3.SA  BVMF3.SA  PETR4.SA  VALE5.SA
2006-01-08       NaN       NaN       NaN       NaN       NaN
2006-01-15       0.0  0.046274       0.0  0.042839  0.038621
2006-01-22       0.0 -0.030896       0.0  0.038732  0.015025
2006-01-29       0.0  0.114099       0.0  0.016723  0.028754
2006-02-05       0.0 -0.006028       0.0 -0.017782 -0.043478

In [11]:
monthlyReturns = monthlyPrices.pct_change()
monthlyReturns.head()

Symbol      BRPR3.SA  ENBR3.SA  BVMF3.SA  PETR4.SA  VALE5.SA
2006-01-31       NaN       NaN       NaN       NaN       NaN
2006-02-28       0.0 -0.029561       0.0 -0.048511 -0.075665
2006-03-31       0.0 -0.071077       0.0 -0.035331  0.034403
2006-04-30       0.0  0.026830       0.0  0.089929 -0.010801
2006-05-31       0.0 -0.096773       0.0 -0.048237 -0.047784

# Item: Estatísticas Descritivas e hipótese de log normalidade

## Daily Returns

In [15]:
dailyReturns.mean()

Symbol
BRPR3.SA    0.000179
ENBR3.SA    0.000654
BVMF3.SA    0.000157
PETR4.SA    0.000034
VALE5.SA    0.000110
dtype: float64

In [16]:
dailyReturns.skew()

Symbol
BRPR3.SA    0.201989
ENBR3.SA    0.194469
BVMF3.SA    0.313205
PETR4.SA    0.227549
VALE5.SA    0.136003
dtype: float64

In [18]:
dailyReturns.kurt()

Symbol
BRPR3.SA    6.313662
ENBR3.SA    2.693506
BVMF3.SA    5.844418
PETR4.SA    3.724426
VALE5.SA    3.783333
dtype: float64

As médias são muito próximas de zero, o que corrobora com a hipótese de log normalidade. Porém não só as assimetrias são positivas como quase todos os ativos possuem caudas mais pesadas do que a normal. Curiosamente ENBR3 tem as caudas mais leves.

## Weekly Returns

In [19]:
weeklyReturns.mean()

Symbol
BRPR3.SA    0.000797
ENBR3.SA    0.002903
BVMF3.SA    0.000738
PETR4.SA   -0.000143
VALE5.SA    0.000212
dtype: float64

In [20]:
weeklyReturns.skew()

Symbol
BRPR3.SA    0.038419
ENBR3.SA    0.173600
BVMF3.SA    0.223158
PETR4.SA   -0.040946
VALE5.SA    0.415477
dtype: float64

In [21]:
weeklyReturns.kurt()

Symbol
BRPR3.SA    3.445848
ENBR3.SA    1.222890
BVMF3.SA    5.051156
PETR4.SA    1.610172
VALE5.SA    2.185269
dtype: float64

As médias são muito próximas de zero, o que corrobora com a hipótese de log normalidade. Porém não só as assimetrias são positivas como quase todos os ativos possuem caudas mais pesadas do que a normal.